cycler==0.10.0  
decorator==4.4.1   
imageio==2.6.1   
imutils==0.5.3   
joblib==0.14.0  
kiwisolver==1.1.0   
mahotas==1.4.9   
matplotlib==3.1.1   
networkx==2.4     
numpy==1.17.4  
opencv-contrib-python==4.1.1.26
Pillow==8.1.1   
pip==21.1  
pyparsing==2.4.5   
python-dateutil==2.8.1   
PyWavelets==1.1.1   
scikit-image==0.16.2  
scikit-learn==0.21.3  
scipy==1.3.2   
setuptools==41.6.0  
six==1.13.0  
wheel==0.33.6  
